@model IEnumerable<FPISummaryPortal.Models.iICE_Staging>

<h1> Listing of Product Details </h1>
<br/>
<center><strong>@ViewBag.productsiice</strong></center>
<br/>

@if (Session["ShowProductDetailListing"] != null)
{
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover sortable">
            <thead>
                <tr class="danger">
                    <th>@Html.DisplayNameFor(model => model.ItemCode)</th>
                    <th>@Html.DisplayNameFor(model => model.ItemNameWeb)</th>
                    <th>@Html.DisplayNameFor(model => model.TransferredDate)</th>
                    <th>Details</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(modelItem => item.ItemCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.ItemNameWeb)</td>
                    <td>@Html.DisplayFor(modelItem => item.TransferredDate)</td>
                    <td>@Html.ActionLink("Details", "ShowProductDetails", new { id = item.ID })</td>
                </tr>
            }
        </table>
    </div>
}

<!--Home and Back Button-->
<div class="form-inline">
    @if (Request.UrlReferrer != null)
            {
        <button type="button" class="btn btn-primary" onclick="history.go(-1); return false;">Back</button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
    }
</div> <!--/.form-inline-->
<!--/.Home and Back Button-->

