@model IEnumerable<FPISummaryPortal.Models.HG_PDM>

@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryOfOriginStatement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngredientListDeclared)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescriptionWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescriptionWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebCookingHintsAndTips)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemWebsitePublicReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemWebsiteFuturePublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemWebsiteDeactivateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemLaunchDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NutritionalInformationFooter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IrradiatedIngredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServingSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServingSizeUnitOfMeasure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServingsPerPackage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allergens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebSegment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebSubSegment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependencyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nutrients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerStorageInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precautions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreparationInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreparationState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Claims)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateIndicator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferredDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryOfOriginStatement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngredientListDeclared)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescriptionWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescriptionWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebCookingHintsAndTips)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemWebsitePublicReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemWebsiteFuturePublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemWebsiteDeactivateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemLaunchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NutritionalInformationFooter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IrradiatedIngredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServingSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServingSizeUnitOfMeasure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServingsPerPackage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allergens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebSegment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebSubSegment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependencyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nutrients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumerStorageInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precautions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparationInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparationState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Claims)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Images)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateIndicator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferredDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
